table {
    border-collapse: collapse;
    width:100%;
  }
  
  table, td, th {
    border: 1px solid black;
    padding:5px;
    text-decoration:none;
  }
  a{
      color:black;
  }
  
  
  .tombol{
      text-align:center;
  }